/* =============
    section 3
============= */ 
#section1{
   img{
       background-image: url('../img/section1/carrots.jpg');
       background-size: cover;
       background-position: center; 

   }
}