/* =============
    section 4
============= */ 
#section4 {
        display: grid;
        grid-template-columns:50px auto 50px;
        grid-template-areas: ". section4.";

        #section4-content{
            grid-area: section4;
        }
}
