/* =============
    section 5
============= */ 

#section5{
   
    @include xl{
        display: grid;
        grid-template-columns: auto 1200px auto;
        grid-template-areas: ". section5. ";
    }

    ul{
        display: grid; 
        grid-gap: 30px;
        grid-template-rows: repeat(2, 200px);

        @include md{
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(3, 750px);
            grid-template-areas: 
            "street"
            "farm crops"
            "tomatoes";
        }

        @include xl{
            grid-area: section5;
        }

        li{
            background-position: center;
            background-size: cover;
        }

        #street{
            background-image: url("../img/section5/street/.jpg");
            @include md{
                grid-area: street;
                background-position: center top;
            }
        }
        #farmcrops{
            background-image: url("img/section5/farmcrops/.jpg");
            @include md{
                grid-area: farmcrops;
            }
        }

        #tomatoes{
            background-image: url("../img/section5/tomatoes.jpg");
            @include md{
                grid-area: tomatoes;
            }
        }
    }
}