/* =============
    section 3
============= */ 
#section3{
    height: 387px;
    background-image: url('..img/section3/berries.jpg');
    background-position: center; 
    background-size: cover;

    @include md{
        height: 575px;
    }
    @include lg{
        height: 800px 
    }
    @include xl{
        height: 682px 
    }
}

   
   


 